

@media (max-width: 100px){
    body{
        margin: 0;
        padding: 0;
        letter-spacing: 2px;
        word-spacing: 3px;
    }

    nav, header, section, footer{
        padding: 10px 30px;
        background-color: red;
    }

    .descs{
        background-color: blue;
    }
    
}